[Unit]
Description=GCE finalization
After=local-fs.target
Wants=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/gce-finalize
TimeoutSec=0
StandardOutput=tty

[Install]
WantedBy=multi-user.target
