[Unit]
Description=KVM-xfstests
After=local-fs.target network-online.target network.target
After=rsyslog.service
Wants=local-fs.target network-online.target network.target

[Service]
Type=oneshot
ExecStart=/root/kvm-xfstests.boot
TimeoutSec=0
StandardOutput=tty

[Install]
WantedBy=multi-user.target
