[Unit]
Description=KVM-xfstests
After=network.target

[Service]
Type=forking
ExecStart=/root/kvm-xfstests.boot
TimeoutSec=0
StandardInput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
