*~
*.la
*.lo
*.mo
*.o
*.pc
.dirstamp
.deps/
.libs/

/Logs/

/acl-*
/chacl
/getfacl
/setfacl
/build-aux

/Makefile.in
/aclocal.m4
/build-aux/ltmain.sh
/configure

/ABOUT-NLS
/autom4te.cache/
/config.*
/libtool
/m4/
Makefile
stamp-h1

*.log
*.trs

/include/acl
/include/config.h
/include/config.h.in
/include/sys
