*~
*.la
*.lo
*.mo
*.o
*.pc
.dirstamp
.deps/
.libs/

/Logs/

/acl-*
/chacl
/getfacl
/setfacl

/ABOUT-NLS
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/m4/
Makefile
Makefile.in
stamp-h1

*.log
*.trs

/include/acl
/include/config.h
/include/config.h.in
/include/sys
