*~
*.o
*.old
*.rej
.git
.gitignore
.dockerignore
config.custom
fstests-bld/config.custom
fstests-bld/bld
fstests-bld/fio
fstests-bld/fsverity
fstests-bld/ima-evm-utils
fstests-bld/keyutils
fstests-bld/nvme-cli
fstests-bld/quota
fstests-bld/xfsprogs-dev
fstests-bld/xfstests-dev
fstests-bld/xfstests
fstests-bld/util-linux
run-fstests/logs
run-fstests/disks
selftests/config.custom
test-appliance/config.custom
test-appliance/var.cache.apt.archives
test-appliance/var.lib.apt.lists
test-appliance/debs
test-appliance/mirror
test-appliance/root_fs.*
!test-appliance/root_fs.img.amd64
