*~
*.bak
*.o
*.lo
*.mo
*.ol
*.os
*.ver
.libs
config.log
config.status
config.custom
MAKELOG
/android-xfstests.sh
/kvm-xfstests/config-*
/kvm-xfstests.sh
/gce-xfstests.sh
/xfstests.tar.gz
/acl/chacl/chacl
/acl/doc/CHANGES.gz
/acl/getfacl/getfacl
/acl/include/acl
/acl/include/builddefs
/acl/include/config.h
/acl/include/sys
/acl/po/Makefile.in
/acl/po/acl.pot
/acl/setfacl/setfacl
/android-compat/Makefile
/android-compat/autom4te.cache
/android-compat/aio.h
/android-compat/libandroid_compat.a
/android-compat/libandroid_compat.so.1.0
/android-compat/libpthread.a
/android-compat/librt.a
/android-compat/librt.so.1.0
/attr/autom4te.cache
/attr/attr/attr
/attr/doc/CHANGES.gz
/attr/getfattr/getfattr
/attr/include/attr
/attr/include/builddefs
/attr/include/config.h
/attr/po/attr.pot
/attr/setfattr/setfattr
/bld/
/dmapi/doc/CHANGES.gz
/dmapi/include/builddefs
/dmapi/include/xfs
/dmapi/libtool
/dbench/Makefile
/dbench/autom4te.cache/
/dbench/config.h.in
/dbench/config.h
/dbench/configure
/dbench/dbench
/dbench/tbench
/dbench/tbench_srv
/libaio/src/libaio.a
/libaio/src/libaio.so.1.0.1
/e2fsprogs-libs/intl/libgnuintl.h
/e2fsprogs-libs/lib/blkid/blkid.h
/e2fsprogs-libs/lib/uuid/uuid.h
/fio/
/keyutils/
/popt/.deps/
/popt/Doxyfile
/popt/Makefile
/popt/auto/Makefile
/popt/auto/desc
/popt/auto/types
/popt/config.h
/popt/libtool
/popt/m4/Makefile
/popt/po/Makefile
/popt/po/Makefile.in
/popt/po/POTFILES
/popt/popt.pc
/popt/popt.spec
/popt/stamp-h1
/popt/tdict
/popt/test1
/popt/test2
/popt/test-poptrc
/quota/
/stress-ng/
/xfsprogs-dev/
/xfstests-dev/
/xfstests/
/misc/fname_benchmark
/misc/resize
/misc/syncfs
/misc/postmark
/misc/zerofree
/misc/Makefile
/misc/autom4te.cache
