*~
*.bak
*.o
*.lo
*.mo
*.ol
*.os
*.ver
.libs
config.log
config.status
bld
acl/chacl/chacl
acl/doc/CHANGES.gz
acl/getfacl/getfacl
acl/include/acl
acl/include/builddefs
acl/include/config.h
acl/include/sys
acl/po/Makefile.in
acl/po/acl.pot
acl/setfacl/setfacl
attr/attr/attr
attr/doc/CHANGES.gz
attr/getfattr/getfattr
attr/include/attr
attr/include/builddefs
attr/include/config.h
attr/po/attr.pot
attr/setfattr/setfattr
dmapi/doc/CHANGES.gz
dmapi/include/builddefs
dmapi/include/xfs
dmapi/libtool
libaio/src/libaio.a
libaio/src/libaio.so.1.0.1
e2fsprogs-libs/intl/libgnuintl.h
e2fsprogs-libs/lib/blkid/blkid.h
e2fsprogs-libs/lib/uuid/uuid.h
fio
quota
xfsprogs-dev
xfstests-dev
xfstests
xfstests.tar.gz
kvm-xfstests/test-appliance/root_fs.img*
kvm-xfstests/test-appliance/debs
kvm-xfstests/baseline.*
config.custom
misc/fname_benchmark
