[Unit]
Description=KVM-xfstests
After=local-fs.target network-online.target network.target
After=rsyslog.service
Wants=local-fs.target network-online.target network.target

[Service]
Type=oneshot
IgnoreSIGPIPE=no
ExecStart=/root/kvm-xfstests.boot
TimeoutStartSec=0
TimeoutStopSec=10
StandardOutput=tty

[Install]
WantedBy=multi-user.target
